<h1 class="text-success">POKEDEX</h1>
<p class="text-danger">Estos son los pokemones del <span id="inicio"></span> al <span id="fin"></span></p>

<button class="btn btn-primary" id="llamarPokemones">Llamar 20 pokemones más</button>

<div id="pokemons">

</div>

<div class="modal" tabindex="-1" id="modalInfo">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">POKEMON</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
